:root {
    --black: #272D2D;
    --light-blue: #B8C5D6;
    --white: #F3FCF0;
}

@font-face {
    font-family: title-bold;
    src: url(fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: title-regular;
    src: url(fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: content-regular;
    src: url(fonts/coolvetica.ttf);
}



* {
    margin: 0;
    padding: 0;
}

.CodeMirror {
    min-height: calc(100vh - 20px);
    font-size: 15px;
    line-height: 1.6;
    padding-top: 20px;
}